@model ViewModels.ChangePasswordViewModel

@{
		ViewBag.Title = "تغییر کلمه عبور";
}

@section styles{
	@Html.Partial("BackEndLayout/_KendoResourcesPartial")
}

<div class="col-md-4">
	<div class="main-card mb-3 card">
		@ViewBag.description
	</div>
</div>

<div class="col-md-8">
	<div class="main-card mb-3 card">
		<div class="card-body">
  
			@using (Html.BeginForm()) {
				@Html.AntiForgeryToken()

				<div class="position-relative form-group">
					@Html.LabelFor(model => model.OldPassword)
					<input name="OldPassword" id="OldPassword" placeholder="@Html.DisplayNameFor(m=>m.OldPassword)" type="password" class="form-control">
					@Html.ValidationMessageFor(model => model.OldPassword)
				</div>

				<div class="position-relative form-group">
					@Html.LabelFor(model => model.NewPassword)
					<input name="NewPassword" id="NewPassword" placeholder="@Html.DisplayNameFor(m=>m.NewPassword)" type="password" class="form-control" >
					@Html.ValidationMessageFor(model => model.NewPassword)
				</div>

				<div class="position-relative form-group">
					@Html.LabelFor(model => model.RepeatPassword)
					<input name="RepeatPassword" id="RepeatPassword" placeholder="@Html.DisplayNameFor(m=>m.RepeatPassword)" type="password" class="form-control" />
					@Html.ValidationMessageFor(model => model.RepeatPassword)
				</div>
				<div class="form-group" id="buttons">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="تایید حذف" class="btn btn-primary" />
						@if (TempData["suucess"] != null)
						{
							<p class="alert alert-success">@TempData["suucess"]</p>
						}
						@if (TempData["error"] != null)
						{
							<p class="alert alert-danger">@TempData["error"]</p>
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>

