@model IEnumerable<Models.User>

@{
ViewBag.Title = "فهرست کاربران نرم افزار" ;
    
}
@section styles{
@Html.Partial("BackEndLayout/_KendoResourcesPartial")
}
<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-body">

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
	      columns.Bound(model => model.FullName);
	      columns.Bound(model => model.CellNum);
	      columns.Bound(model => model.AvatarImageUrl).Template(@<text><img src="@item.AvatarImageUrl" height="100px" /></text>);
	      columns.Bound(model => model.Role.Title);
        columns.Bound(model => model.City.Title);
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.CreationDate);
					columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
								          @Html.ActionLink("ویرایش", "Edit", new {id = @item.Id}, new {@class = "mb-2 mr-2 btn btn-primary" })
								          @Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "mb-2 mr-2 btn btn-warning" })
									</text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{				
						toolbar.Custom().Action("Create","Users").Text("افزودن");                          
					}
		)         
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.Id))
					)              
	)

</div>
</div>
</div>
