
@model ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="bg-dark">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ورود</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


	<link href="~/assets/main.css" rel="stylesheet" />

	<link href="~/assets/style.css" rel="stylesheet" />
	<style>
		body, html {
			height: 100%;
			margin: 0;
		}

		.card-body {
			text-align: right;
		}
		.card-body h5{
			text-align: center;
			font-size: 1.3rem;
		}

		.btn-primary {
			width: 100%;
			font-size: 1rem;
		}
	</style>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
<div class="container">
 
		 
	<div class="row" style="padding-top: 50px;">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<div style="text-align: center; padding-bottom: 30px">
					<img src="~/assets/images/Logo-150.png" />
					</div>				<h5 class="card-title">ورود به نرم افزار</h5>
				@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "panel-body wrapper-lg", role = "form"}))
				{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(false, "", new {@class = "alert-danger"})

					<div class="position-relative form-group">
						
						@Html.LabelFor(model => model.Username, new {@for = "Username" })
						@Html.TextBoxFor(m => m.Username, new {@class = "form-control", @placeholder = Html.DisplayNameFor(model => model.Username)})

					</div>
					<div class="position-relative form-group">
						@Html.LabelFor(model => model.Username, new {@for = "Password" })
						@Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = Html.DisplayNameFor(model => model.Password) })

				 
					</div>
					<button type="submit" class="mt-1 btn btn-primary">ورود</button>

					}
				</div>
			</div>
		</div>


	</div>
		 


 
</div>


	</div>



@*
	<section id="content" class=" wrapper-md animated fadeInUp bg"   >
		<div class="container aside-xxl">

		 <section class="panel panel-default bg-white  login">
				<header class="panel-heading text-center" style="direction: rtl;">
					<strong style="direction: rtl;"></strong>
				</header>

				@if (TempData["WrongPass"] != null)
				{
					<p class="alert alert-danger" id="wrongEmail">@TempData["WrongPass"]</p>
				}

				@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "panel-body wrapper-lg", role = "form"}))
				{
					<img src="~/Content/profile.jpeg" class="img-responsive" />

					@Html.AntiForgeryToken()
					@Html.ValidationSummary(false, "", new {@class = "alert-danger"})

					<div class="form-group">

						@Html.LabelFor(model => model.Username, new {@class = "control-label"})
						@Html.TextBoxFor(m => m.Username, new {@class = "form-control input-lg", @placeholder = Html.DisplayNameFor(model => model.Username)})

					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.Password, new {@class = "control-label"})
						@Html.PasswordFor(m => m.Password, new {@class = "form-control input-lg", @placeholder = Html.DisplayNameFor(model => model.Password)})
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary ">ورود</button>
					</div>

				}

				<footer  class="panel-heading text-center" style="direction: rtl;">
					<p style="margin-bottom: 0; font-size: 11px;">
					 توسعه نرم افزار توسط <a target="_blank" href="https://zavoshsoftware.com">زاوش</a>
					</p>
				</footer>
			</section>
		</div>
	</section>*@

<script type="text/javascript" src="/scripts/admin/main.js"></script>
</body>
</html>