
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>نرم افزار مدیریت سمپلینگ زاوش</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
   
    

	<link href="~/assets/main.css" rel="stylesheet" />

	<link href="~/assets/style.css" rel="stylesheet" />
	@RenderSection("Styles", required: false)

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
			<div class="app-header header-shadow">
				<div class="app-header__logo">
					<div class="logo-src"></div>
					<div class="header__pane ml-auto">
						<div>
							<button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
				<div class="app-header__mobile-menu">
					<div>
						<button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
				<div class="app-header__menu">
					<span>
						<button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
							<span class="btn-icon-wrapper">
								<i class="fa fa-ellipsis-v fa-w-6"></i>
							</span>
						</button>
					</span>
				</div>    <div class="app-header__content">
					<div class="app-header-left">
			 
						@*<ul class="header-menu nav">
							<li class="nav-item">
								<a href="javascript:void(0);" class="nav-link">
									<i class="nav-link-icon fa fa-database"> </i>
									Statistics
								</a>
							</li>
							<li class="btn-group nav-item">
								<a href="javascript:void(0);" class="nav-link">
									<i class="nav-link-icon fa fa-edit"></i>
									Projects
								</a>
							</li>
							<li class="dropdown nav-item">
								<a href="javascript:void(0);" class="nav-link">
									<i class="nav-link-icon fa fa-cog"></i>
									Settings
								</a>
							</li>
						</ul>*@
					</div>
					<div class="app-header-right">
						<div class="header-btn-lg pr-0">
							<div class="widget-content p-0">
								<div class="widget-content-wrapper">
									<div class="widget-content-left">
										<div class="btn-group">
											<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
												<img width="42" class="rounded-circle" src="@ViewBag.avatar" alt="">
												<i class="fa fa-angle-down ml-2 opacity-8"></i>
											</a>
											<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
												<a href="/users/EditByUser"  class="dropdown-item">ویرایش پروفایل</a>
												<a  href="#"  class="dropdown-item">تغییر کلمه عبور</a>
												 
												<div tabindex="-1" class="dropdown-divider"></div>
												<a  href="/account/LogOff" class="dropdown-item">خروج</a>
											</div>
										</div>
									</div>
									<div class="widget-content-left  ml-3 header-user-info">
										<div class="widget-heading">
											@ViewBag.Name
										</div>
										<div class="widget-subheading">
											@ViewBag.Role
										</div>
									</div>
									@*<div class="widget-content-right header-user-info ml-3">
										<button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
											<i class="fa text-white fa-calendar pr-1 pl-1"></i>
										</button>
									</div>*@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>    


        <div class="app-main">
					<div class="app-sidebar sidebar-shadow">
						<div class="app-header__logo">
							<div class="logo-src"></div>
							<div class="header__pane ml-auto">
								<div>
									<button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
										<span class="hamburger-box">
											<span class="hamburger-inner"></span>
										</span>
									</button>
								</div>
							</div>
						</div>
						<div class="app-header__mobile-menu">
							<div>
								<button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
									<span class="hamburger-box">
										<span class="hamburger-inner"></span>
									</span>
								</button>
							</div>
						</div>
						<div class="app-header__menu">
							<span>
								<button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
									<span class="btn-icon-wrapper">
										<i class="fa fa-ellipsis-v fa-w-6"></i>
									</span>
								</button>
							</span>
					</div>  
					
						@Html.Partial("BackEndLayout/_MenuPartial")

				 
					</div>  
            <div class="app-main__outer">
                <div class="app-main__inner">
                    

                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-settings icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>
                                    @ViewBag.title

                                    <div class="page-title-subheading">
                                        @ViewBag.description
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    

                    @*<div class="row">*@
                        @RenderBody()
                    @*</div>*@

                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">
                                @*<ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            Footer Link 1
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            Footer Link 2
                                        </a>
                                    </li>
                                </ul>*@
                            </div>
                            <div class="app-footer-right">
                                @*<ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            Footer Link 3
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <div class="badge badge-success mr-1 ml-0">
                                                <small>NEW</small>
                                            </div>
                                            Footer Link 4
                                        </a>
                                    </li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<script src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyAc_R5mbIdGpeHHugMHG3NnEur3WRdpqpA"></script>*@
        </div>
    </div>
<script type="text/javascript" src="/scripts/admin/main.js"></script>
<script src="~/Scripts/PersianDatePicker/PersianDatePicker.min.js"></script>
<link href="~/Content/PersianDatePicker/PersianDatePicker.min.css" rel="stylesheet" />
@RenderSection("scripts", required: false)

</body>
</html>
