@model Models.ProjectDetail

@{
		ViewBag.Title = "افزودن " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
}
@section styles{
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

}
<div class="col-md-4">
	<div class="main-card mb-3 card">
		@ViewBag.description
	</div>
</div>

<div class="col-md-8">
	<div class="main-card mb-3 card">
		<div class="card-body">

			@using (Html.BeginForm("Create", "ProjectDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
					@Html.AntiForgeryToken()



					<div class="position-relative form-group">
						<label >استان</label>

						@Html.DropDownList("ProvinceId", null, String.Empty, new { @class = "form-control" })
					</div>

					<div class="position-relative form-group">
						<label>شهر</label>

						<select id="ddlcity" class="form-control">
							<option value="0">انتخاب شهر*</option>

						</select>			
					</div>
					<div class="position-relative form-group">
						@Html.LabelFor(model => model.StoreId)

						@Html.DropDownList("StoreId", null, String.Empty, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.StoreId)
					</div>
					<div class="position-relative form-group">
						@Html.LabelFor(model => model.UserId)

						@Html.DropDownList("UserId", null, String.Empty, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.UserId)
					</div>

					<div class="position-relative form-group">
						@Html.LabelFor(model => model.StartHour)
						<div class="clearfix">
						<select id="StartHour"  name="StartHour" class="form-control" style="width: 45%; float: right;">
							<option value="0" >ساعت</option>
							@for (int i = 0; i < 24; i++)
							{
									<option value="@i">@i</option>

							}
						</select >
						<select id="StartMin" name="StartMin" class="form-control" style="width: 45%; float: right;">
							<option value="0">دقیقه</option>
							@for (int i = 0; i < 56; i+=5)
							{
									<option value="@i">@i</option>
							}
						</select>
						</div> 
					</div>
					<div class="position-relative form-group">
						@Html.LabelFor(model => model.FinishHour)

						<div class="clearfix">
							<select class="form-control" style="width: 45%; float: right;" id="FinishHour" name="FinishHour">
								<option value="0">ساعت</option>
								@for (int i = 0; i < 24; i++)
								{
									<option value="@i">@i</option>

								}
							</select>
							<select id="FinishMin" name="FinishMin" class="form-control" style="width: 45%; float: right;">
								<option value="0">دقیقه</option>
								@for (int i = 0; i < 56; i+=5)
								{
									<option value="@i">@i</option>
								}
							</select>
						</div> 
					</div>
					<div class="position-relative form-group">
						@Html.LabelFor(model => model.SalaryPerHour)

						<input name="SalaryPerHour" id="SalaryPerHour" placeholder="@Html.DisplayNameFor(m=>m.SalaryPerHour)" type="text" class="form-control">
						@Html.ValidationMessageFor(model => model.SalaryPerHour)
					</div>
					<div class="position-relative form-group">
						@Html.LabelFor(model => model.TransportationAmount)

						<input name="TransportationAmount" id="TransportationAmount" placeholder="@Html.DisplayNameFor(m=>m.TransportationAmount)" type="text" class="form-control">
						@Html.ValidationMessageFor(model => model.TransportationAmount)
					</div>
					<div class="position-relative form-check">
						<label class="form-check-label">
							@Html.CheckBoxFor(model => model.IsActive)
							@Html.DisplayNameFor(m => m.IsActive)
						</label>

					</div>
											<div class="position-relative form-group">
												@Html.LabelFor(model => model.Description)

												<textarea name="Description" id="Description" placeholder="@Html.DisplayNameFor(m=>m.Description)" class="form-control"></textarea>

												@Html.ValidationMessageFor(model => model.Description)
											</div>



											<div class="button-box">
												<input type="submit" value="ایجاد" class="btn btn-primary" />
												@Html.ActionLink("بازگشت به فهرست", "Index", new { id = ViewBag.ProjectId })

											</div>

			}
		</div>
	</div>
</div>


@section scripts{
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
	<script>
		$(function () {
			$('#StartHour').timepicker();
			$('#FinishHour').timepicker();
		});
		$('#ProvinceId').on('change',
			function () {
				var selectedValue = $(this).val();
				if (selectedValue !== "") {
					var procemessage = "<option value='0'> صبرکنید...</option>";
					$("#ddlcity").html(procemessage).show();
					$.ajax(
						{
							url: "/ProjectDetails/FillCities",
							data: { id: selectedValue },
							cache: false,
							type: "POST",
							success: function (data) {
								var markup = "<option value='0'>انتخاب شهر</option>";
								for (var x = 0; x < data.length; x++) {
									markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
								}
								$("#ddlcity").html(markup).show();
							},
							error: function (reponse) {
								alert("error : " + reponse);
							}
						});
				}
			});


		$('#ddlcity').on('change',
			function () {
				var selectedValue = $(this).val();
				if (selectedValue !== "") {
					var procemessage = "<option value='0'> صبرکنید...</option>";
					$("#StoreId").html(procemessage).show();
					$.ajax(
						{
							url: "/ProjectDetails/FillStores",
							data: { id: selectedValue },
							cache: false,
							type: "POST",
							success: function (data) {
								var markup = "<option value='0'>انتخاب فروشگاه</option>";
								for (var x = 0; x < data.length; x++) {
									markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
								}
								$("#StoreId").html(markup).show();
							},
							error: function (reponse) {
								alert("error : " + reponse);
							}
						});
				}
			});
 
	</script>
}
