@model IEnumerable<Models.ProjectDetail>


@section styles{
@Html.Partial("BackEndLayout/_KendoResourcesPartial")
}
<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-body">

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
        columns.Bound(model => model.Store.City.Title);
        columns.Bound(model => model.Store.Title);
        columns.Bound(model => model.StartHourStr);
        columns.Bound(model => model.FinishHourStr);
        columns.Bound(model => model.SalaryPerHourStr);
        columns.Bound(model => model.TransportationAmountStr);
        columns.Bound(model => model.IsActive);
					columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("پروموترها", "Index","ProjectDetailPromoters", new { id = @item.Id }, new { @class = "mb-2 mr-2 btn btn-primary" })
									</text>).Width(200);
							})
		.ToolBar(toolbar =>
		{
			toolbar.Custom().Action("supervisorindex", "Projects").Text("بازگشت به لیست پروژه ها");
			toolbar.Custom().Action("Create","ProjectDetails").Text("افزودن");
		}
		)
		.DataSource(dataSource => dataSource
									.Server()

									.Model(model => model.Id(item => item.Id))
					)
	)

</div>
</div>
</div>
